body{
    background: linear-gradient(to right,  #003162,#006D9B, #00A4D1);
  }
#top-section{
  margin-top:30px;
  margin-bottom:20px;
  

}
#mid-section{
  margin-bottom:30px;
}

#footer-section{
  margin-bottom:40px;
}
.top-head{
  color:white;
  font-family:Georgia, Times, serif;
}
ul.no-style{
  list-style-type:none;
}

#btn1-submit{
  margin-left:50px;
}
td,th{
  color:white;
}

.top-head, h2.form-title{
  color:purple;
  font-family:Georgia, Times, serif;
}
