
{% extends 'home.html' %}d

{% block body %}

<br>
<div class="container">
    <a href="{% url 'home' %}"><button class="btn btn-info"> GO back</button></a>

    <br>
    <br>
    <div>
        <table class="table">        
            <thead>
              <tr>
                {% for title in job_titles %}
                  <th scope="col">{{title}}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for job_list in recommended_jobs %}
              <tr>            
                  {% for value in job_list %}
                    <td scope="row">{{ value }}</td>
                  {% endfor %}          
              </tr>
              {% endfor %}
            </tbody>
    </table>

    </div>
</div>
{% endblock %}