 <!DOCTYPE html>
  {% extends 'home.html'%}
 {% load static %}

<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>

      <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
	  <!--<link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}">-->
      <!--<script src="{% static 'js/jquery.dataTables.min.js'%}"> </script>-->
	  <script src="{% static 'js/json_table.js' %}"></script>

  </head>
  <body>

			  <div class="container">

				<table id="json-table" class="display" style="width:100%" border="1" >


				</table>

			</div>
  </body>
</html>
