
 <!DOCTYPE html>
 {% load static %}
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
	  <script   src="https://code.jquery.com/jquery-3.3.1.min.js" ></script>
	  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" >
	  <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" ></script>

  </head>
  <body>
  			<table id="myTable" class="display" style="width:100%" border="1" >
			<thead>
					<th>Phone No.</th>
					<th>Message</th>
					<th>Sent Date</th>
			</thead>

	</table>
    	  <script src="{% static 'projectrecommend/js/json_table.js' %}" ></script>


  </body>
</html>
